{{! Dark social icons }}
<ul>
  <li class="socialIcons_link">
    <a class="fa fa-twitter" href="https://twitter.com/john_papa"></a>
  </li>
  <li class="socialIcons_link">
    <a class="fa fa-dev" href="https://dev.to/john_papa"></a>
  </li>
  <li class="socialIcons_link">
    <a class="fa fa-linkedin" href="http://www.linkedin.com/in/papajohn"></a>
  </li>
  <li class="socialIcons_link">
    <a class="fa fa-rss" href="http://feeds.feedburner.com/johnpapa"></a>
  </li>
</ul>
